google==3.0.0
socialscan==1.4.1
requests==2.22.0
anytree==2.8.0
prettytable==0.7.2

------------------------
pip install PyPDF2
pip install tabula
pip install tabula-py
pip install beautifulsoup4
pip install verify-email
